<!--Homepage for Team Software Proj., Campus Cost --> 

<!DOCTYPE html>

<html>

	<head>

	<title>Campus Cost Homepage</title>
	<meta charset = "UTF-8">
	<link rel ="stylesheet" href = "{{ url_for('static', filename='tspProj_home.css') }}">

	</head>
	
	<body>
	
		<main>
			<section>
				<h1 class = "page_header">Campus Cost </h1>
				<nav class = "page_nav">
					<a href = "/">LOGOUT</a><!-- TODO: Logout button needs implementation -->
				</nav>
				
			</section>
			
			<section> <!--Section for testing buildings being dynamically displayed-->
				
        <ul>
          {% for building in blding %}
            <li>
              <!-- Link to page that shows vending machines in this building -->
              <a href="{{ url_for('vending_temp', building_name=building[0], vending_name=vnding[0][0] if vnding else '') }}">
                {{ building[0] }}
              </a>
            </li>
          {% endfor %}
        </ul>
			
			</section>
		
			<section id = "page_content">
				<ul>
          <li> <a href="{{ url_for('vending_temp', building_name='VMTES1210') }}">Vending Machine 1.</a> </li>
				
					<li>Vending Machine 2.</li> <!--TODO: Make an existing machine-->
					
				</ul>
			</section>
      
		</main>
	
	</body>
	
	
	<footer>
	
	</footer>
	
</html>
