<!--Homepage for Team Software Proj., Campus Cost --> 

<!DOCTYPE html>

<html>

	<head>

	<title>Campus Cost Homepage</title>
	<meta charset = "UTF-8">
	<link rel ="stylesheet" href = "tspProj_home.css">

	</head>
	
	<body>
	
		<main>
			<section>
				<h1 class = "page_header">Campus Cost </h1>
				<nav class = "page_nav">
					<a href = ""> LOGOUT</a><!-- TODO: Logout button needs implementation -->
				</nav>
				
			</section>
			<section id = "page_content">
				<ul>
					<li> <a href = "vending_temp.html">Vending Machine 1.</a> </li> <!--TODO: Make an existing machine-->
				
					<li>Vending Machine 2.</li> <!--TODO: Make an existing machine-->
					
				</ul>
			</section>
		
		</main>
	
	</body>
	
	
	<footer>
	
	</footer>
	
</html>